# MILESTONE 2

In this milestone we will get to *finally* minipulate the data we harvested

**Prajeets File**

## Objectives to complete
1. Task 3 Chaining
2. Task 4 Analysis
3. Task 5 Research

## Load in File unprocessed file: ##

In [1]:
import sys, os
sys.path.insert(0, os.path.abspath('..'))
from scripts.project_functions import *

data ='../../data/raw/Gamesales.csv'
dfu = unprocessed(data)
dfu

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

## Load in File processed file: ##

In [2]:
dfp = load_and_process(data)
dfp

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Darksiders,X360,2010.0,Action,THQ,0.67,0.28,0.01,0.10,1.06,83.0,81.0,7.9,292.0,Vigil Games,M
1,Frogger 3D,3DS,2011.0,Action,Konami Digital Entertainment,0.16,0.03,0.00,0.01,0.21,54.0,11.0,5.5,8.0,Alpha Unit,E
2,BeyBlade VForce: Super Tournament Battle,GC,2002.0,Action,Atari,0.16,0.04,0.00,0.01,0.21,33.0,6.0,7.5,18.0,Takara,E
3,Power Rangers: Wild Force,GBA,2002.0,Action,THQ,0.15,0.05,0.00,0.00,0.21,55.0,4.0,6.9,8.0,Natsume,E
4,Tenchu: Shadow Assassins,Wii,2008.0,Action,Ubisoft,0.15,0.01,0.03,0.01,0.21,70.0,35.0,7.8,24.0,Acquire,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,Commandos 2: Men of Courage,XB,2002.0,Strategy,Eidos Interactive,0.05,0.02,0.00,0.00,0.07,67.0,12.0,8.4,5.0,Pyro Studios,T
6821,Wrath Unleashed,PS2,2004.0,Strategy,LucasArts,0.04,0.03,0.00,0.01,0.07,64.0,25.0,6,6.0,Double Helix Games,T
6822,Kessen III,PS2,2004.0,Strategy,Tecmo Koei,0.04,0.03,0.00,0.01,0.07,73.0,26.0,8.1,20.0,Koei,T
6823,Cities XL 2012,PC,2011.0,Strategy,Focus Home Interactive,0.01,0.05,0.00,0.01,0.07,61.0,18.0,5.6,95.0,Monte Cristo Multimedia,E
6824,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

## Data Analysis: ##

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

print("Number of rows and columns respectively:", dfp.shape)
print("Columns in the dataset:", dfp.columns)

Number of rows and columns respectively: (6825, 16)
Columns in the dataset: Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [6]:
dfp.describe(include='float64')

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,174.722344
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,587.428538
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,11.000000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,27.000000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,89.000000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [7]:
dfp.describe(include='object')

,Name,Platform,Genre,Publisher,User_Score,Developer,Rating
count,6825,6825,6825,6825,6825,6825,6825
unique,4377,17,12,262,89,1289,7
top,LEGO Star Wars II: The Original Trilogy,PS2,Action,Electronic Arts,7.8,EA Canada,T
freq,8,1140,1630,944,294,149,2377

In [ ]:
from pandas_profiling import ProfileReport
from ipywidgets import widgets
# Your solution for `pandas_profiling`
profile = ProfileReport(dfp, title="Game Sales Pandas Profiling Report",explorative=True)
#profile
profile.to_notebook_iframe()